body{
    margin-top: 10%;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.msgs{
    margin-top: 10%;
}

h1{
    font-size: 70px;
    color: #3a3a3a;
}

p{
    font-size: 20px;
    color: #3a3a3a;
}
